# build directories
build*/

# cache
.cache/

# problem data file
examples/*.nc
examples/*/*.nc

# data
data/*.nc

# mac
.DS_Store
*/.DS_Store

# vscode
.vscode

# doc
doc/doxygen

# python
*egg-info*

# notebook
*.ipynb
