# build directories
build*/

# cache
.cache/

# problem data file
examples/*.nc
examples/*/*.nc

# data
data/*.nc
data/*.tar.gz
data/*.py

# mac
.DS_Store
*/.DS_Store

# vscode
.vscode

# doc
docs/doxygen

# python
*egg-info*

# notebook
*.ipynb

# version
src/version.h

# stubs
*stubs/

# junk
z.junk/

# examples
examples/*.tar.gz
examples/*.pt

# idl source codes
*.pro

# figures
*.png
*.jpg

# package data
python/*/*.txt

# pkl
*.pkl

# so
*.so

# dist
dist/
