# build directories
build*/

# cache
.cache/

# problem data file
examples/*.nc
examples/*/*.nc

# data
data/*.nc

# mac
.DS_Store
*/.DS_Store

# vscode
.vscode

# doc
docs/doxygen

# python
*egg-info*

# notebook
*.ipynb

# version
src/version.h

# stub file
*/stubs
